p{
    color: gold;
}
.botao {
    color: pink;
    background-color: black;
    border-radius: 6px;
    border-color: aliceblue;

}
.rotulo {
    color: red;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.entrada{
    background-color:goldenrod
    border-radius: 6px;

}
th{
    color: royalblue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
table{
    border: 2px solid ;

}
th{
    border: 2px solid ;
}
tr{
    text-align: center;
}
